In [51]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.insert(0, '../')
from scripts.tracking import MatchTracking 
from scripts.pass_events import PassEvents
from scripts.ball_visualization import BallVisualization
from scripts.utils import x_stats_to_track, y_stats_to_track
from tqdm.notebook import tqdm

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [69]:
data_directory = '..\data'
file = 'g2312201_SecondSpectrum_tracking-produced.jsonl'
match_tracking_path = os.path.join(data_directory, file)
match_tracking = MatchTracking(tracking_file_path=match_tracking_path)

In [70]:
match_tracking.HomeTracking.df_tracking

,period,frameIdx,gameClock,wallClock,live,lastTouch,optaId,jersey_number,speed,x,y
0,1,0,0.00,1674387294150,False,home,246319,14,0.00,16.93,16.79
0,1,0,0.00,1674387294150,False,home,192194,25,0.00,13.61,0.11
0,1,0,0.00,1674387294150,False,home,174349,9,0.00,3.04,17.82
0,1,0,0.00,1674387294150,False,home,96385,7,0.00,6.94,-8.83
0,1,0,0.00,1674387294150,False,home,459038,10,0.00,5.21,9.58
...,...,...,...,...,...,...,...,...,...,...,...
144074,2,144074,2882.04,1674394107470,False,away,165677,33,0.77,-9.20,14.65
144074,2,144074,2882.04,1674394107470,False,away,175128,13,0.18,2.95,2.06
144074,2,144074,2882.04,1674394107470,False,away,447080,2,1.08,-11.49,7.74
144074,2,144074,2882.04,1674394107470,False,away,96535,5,2.00,-8.57,21.25
144074,2,144074,2882.04,1674394107470,False,away,186043,11,5.21,5.37,28.37

In [96]:
data_directory = '..\data\events'
file = 'ManCity_AstonVilla_events_2.json'
events_path = os.path.join(data_directory, file)
pass_events = PassEvents(tracking_file_path=events_path)
#pass_events.update_position(match_tracking)

In [85]:
pass_events.df_processed_xpass_away.copy()

,timestamp,team.name,period,possession_team.id,possession_team.name,player.id,player.name,pass.recipient.id,pass.recipient.name,pass.height.name,...,high_pass,low_pass,drop_kick,head,keeper_arm,left_foot,no_touch,other,right_foot,completed
4,00:00:00.250,Aston Villa,1,2647,Aston Villa,5058.0,Rachel Daly,15562.0,Lucy Staniforth,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
7,00:00:02.056,Aston Villa,1,2647,Aston Villa,15562.0,Lucy Staniforth,15724.0,Mayumi Pacheco,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
10,00:00:04.507,Aston Villa,1,2647,Aston Villa,15724.0,Mayumi Pacheco,15571.0,Danielle Turner,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
13,00:00:07.681,Aston Villa,1,2647,Aston Villa,15571.0,Danielle Turner,78072.0,Anna Patten,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
16,00:00:11.728,Aston Villa,1,2647,Aston Villa,78072.0,Anna Patten,15571.0,Danielle Turner,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3305,00:43:50.516,Aston Villa,2,2647,Aston Villa,15724.0,Mayumi Pacheco,NaN,NaN,Low Pass,...,0,1,0,1,0,0,0,0,0,0
3347,00:45:07.937,Aston Villa,2,2647,Aston Villa,131589.0,Anna Jessica Leat,4984.0,Rachel Corsie,Ground Pass,...,0,0,0,0,1,0,0,0,0,1
3351,00:45:17.357,Aston Villa,2,2647,Aston Villa,4984.0,Rachel Corsie,15724.0,Mayumi Pacheco,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
3354,00:45:18.410,Aston Villa,2,2647,Aston Villa,15724.0,Mayumi Pacheco,NaN,NaN,High Pass,...,1,0,0,0,0,1,0,0,0,0
3388,00:47:58.145,Aston Villa,2,2647,Aston Villa,131589.0,Anna Jessica Leat,NaN,NaN,High Pass,...,1,0,0,0,0,0,0,0,1,0

In [86]:
pass_events.df_processed_xpass_home.copy()

,timestamp,team.name,period,possession_team.id,possession_team.name,player.id,player.name,pass.recipient.id,pass.recipient.name,pass.height.name,...,high_pass,low_pass,drop_kick,head,keeper_arm,left_foot,no_touch,other,right_foot,completed
32,00:00:23.699,Manchester City WFC,1,746,Manchester City WFC,49938.0,Deyna Cristina Castellanos Naujenis,15570.0,Chloe Kelly,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
38,00:00:58.923,Manchester City WFC,1,746,Manchester City WFC,15570.0,Chloe Kelly,NaN,NaN,Low Pass,...,0,1,0,0,0,0,0,0,1,0
42,00:01:05.339,Manchester City WFC,1,746,Manchester City WFC,19416.0,Laura Coombs,10163.0,Leila Ouahabi El Ouahabi,Low Pass,...,0,1,0,0,0,0,0,1,0,1
45,00:01:07.087,Manchester City WFC,1,746,Manchester City WFC,10163.0,Leila Ouahabi El Ouahabi,25632.0,Yui Hasegawa,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
48,00:01:11.108,Manchester City WFC,1,746,Manchester City WFC,25632.0,Yui Hasegawa,15555.0,Lauren Hemp,High Pass,...,1,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3365,00:45:30.926,Manchester City WFC,2,746,Manchester City WFC,5078.0,Alanna Stephanie Kennedy,4637.0,Ellie Roebuck,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
3368,00:45:36.113,Manchester City WFC,2,746,Manchester City WFC,4637.0,Ellie Roebuck,5078.0,Alanna Stephanie Kennedy,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
3371,00:45:45.154,Manchester City WFC,2,746,Manchester City WFC,5078.0,Alanna Stephanie Kennedy,221888.0,Kerstin Yasmijn Casparij,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
3377,00:46:41.877,Manchester City WFC,2,746,Manchester City WFC,10252.0,Alex Greenwood,5078.0,Alanna Stephanie Kennedy,High Pass,...,1,0,0,0,0,1,0,0,0,0
3386,00:47:07.305,Manchester City WFC,2,746,Manchester City WFC,10252.0,Alex Greenwood,NaN,NaN,High Pass,...,1,0,0,0,0,1,0,0,0,0

In [98]:
pass_events._mapping_jersey

{'Ellie Roebuck': 1,
 'Esme Beth Morgan': 14,
 'Alanna Stephanie Kennedy': 33,
 'Hayley Emma Raso': 13,
 'MarÃƒ\xada Victoria Losada GÃƒÂ³mez': 17,
 'Leila Ouahabi El Ouahabi': 15,
 'Stephanie Houghton': 6,
 'Alex Greenwood': 5,
 'Lauren Hemp': 11,
 'Chloe Kelly': 9,
 'Laura Coombs': 7,
 'Khadija Monifa Shaw': 21,
 'Yui Hasegawa': 25,
 'Laia Aleixandri LÃƒÂ³pez': 4,
 'Alexandra MacIver': 22,
 'Mary Boio Fowler': 8,
 'Deyna Cristina Castellanos Naujenis': 10,
 'Ingrid Filippa Angeldal': 12,
 'Julie Blakstad': 41,
 'Kerstin Yasmijn Casparij': 2,
 'Rachel Corsie': 6,
 'Rachel Daly': 8,
 'Jordan Nobbs': 88,
 'Kenza Dali': 10,
 'Lucy Staniforth': 12,
 'Danielle Turner': 14,
 'Mayumi Pacheco': 33,
 'Alisha Lehmann': 7,
 'Sarah Emma Mayling': 2,
 'Hannah Hampton': 1,
 'Emily Gielnik': 9,
 'Kirsty Hanson': 20,
 'Laura Madison Blindkilde Brown': 19,
 'Ruesha Littlejohn': 31,
 'Olivia McLoughlin': 16,
 'Anna Patten': 15,
 'Anna Jessica Leat': 21}

In [134]:
team_A = [pd.json_normalize(team, 'lineup') for team in data if team['team_name'] == "Manchester City WFC"]
team_B = [pd.json_normalize(team, 'lineup') for team in data if team['team_name'] != "Manchester City WFC"]

jersey_city = np.unique(team_B[0]['jersey_number'])

In [121]:
data

[{'team_id': 746,
  'team_name': 'Manchester City WFC',
  'lineup': [{'player_id': 4637,
    'player_name': 'Ellie Roebuck',
    'player_nickname': None,
    'birth_date': '1999-09-23',
    'player_gender': 'female',
    'player_height': 174.0,
    'player_weight': 58.0,
    'jersey_number': 1,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 1,
      'position': 'Goalkeeper',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 4649,
    'player_name': 'Esme Beth Morgan',
    'player_nickname': 'Esme Morgan',
    'birth_date': '2000-10-18',
    'player_gender': 'female',
    'player_height': 177.0,
    'player_weight': 60.0,
    'jersey_number': 14,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 2,
      'position': 'Right Back',
      'from': '00:00:00.000',
      'to': '00:45:00.000',
      'from_period': 1,
      'to_period': 2,
      'start_reason': 'Starting XI',
      'end_reason': 'Substitution - Off (Tactical)',
      'counterpart_id': 221888,
      'counterpart_name': 'Kerstin Yasmijn Casparij'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 5078,
    'player_name': 'Alanna Stephanie Kennedy',
    'player_nickname': None,
    'birth_date': '1995-01-21',
    'player_gender': 'female',
    'player_height': 176.0,
    'player_weight': 63.0,
    'jersey_number': 33,
    'country': {'id': 14, 'name': 'Australia'},
    'positions': [{'position_id': 3,
      'position': 'Right Center Back',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 6818,
    'player_name': 'Hayley Emma Raso',
    'player_nickname': None,
    'birth_date': '1994-09-05',
    'player_gender': 'female',
    'player_height': 161.0,
    'player_weight': 60.0,
    'jersey_number': 13,
    'country': {'id': 14, 'name': 'Australia'},
    'positions': [{'position_id': 12,
      'position': 'Right Midfield',
      'from': '01:12:04.881',
      'to': None,
      'from_period': 2,
      'to_period': None,
      'start_reason': 'Substitution - On (Tactical)',
      'end_reason': 'Final Whistle',
      'counterpart_id': 15570,
      'counterpart_name': 'Chloe Kelly'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 10158,
    'player_name': 'MarÃƒ\xada Victoria Losada GÃƒÂ³mez',
    'player_nickname': 'Vicky Losada',
    'birth_date': '1991-03-05',
    'player_gender': 'female',
    'player_height': 168.0,
    'player_weight': 61.0,
    'jersey_number': 17,
    'country': {'id': 214, 'name': 'Spain'},
    'positions': [],
    'stats': []},
   {'player_id': 10163,
    'player_name': 'Leila Ouahabi El Ouahabi',
    'player_nickname': 'Leila Ouahabi',
    'birth_date': '1993-03-22',
    'player_gender': 'female',
    'player_height': 171.0,
    'player_weight': 58.0,
    'jersey_number': 15,
    'country': {'id': 214, 'name': 'Spain'},
    'positions': [{'position_id': 6,
      'position': 'Left Back',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 10185,
    'player_name': 'Stephanie Houghton',
    'player_nickname': None,
    'birth_date': '1988-04-23',
    'player_gender': 'female',
    'player_height': 174.0,
    'player_weight': 60.0,
    'jersey_number': 6,
    'country': {'id': 68, 'name': 'England'},
    'positions': [],
    'stats': []},
   {'player_id': 10252,
    'player_name': 'Alex Greenwood',
    'player_nickname': None,
    'birth_date': '1993-09-07',
    'player_gender': 'female',
    'player_height': 168.0,
    'player_weight': 62.0,
    'jersey_number': 5,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 5,
      'position': 'Left Center Back',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 15555,
    'player_name': 'Lauren Hemp',
    'player_nickname': None,
    'birth_date': '2000-08-07',
    'player_gender': 'female',
    'player_height': 163.0,
    'player_weight': 50.0,
    'jersey_number': 11,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 16,
      'position': 'Left Midfield',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 15570,
    'player_name': 'Chloe Kelly',
    'player_nickname': None,
    'birth_date': '1998-01-15',
    'player_gender': 'female',
    'player_height': 168.0,
    'player_weight': 59.0,
    'jersey_number': 9,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 12,
      'position': 'Right Midfield',
      'from': '00:00:00.000',
      'to': '01:12:04.881',
      'from_period': 1,
      'to_period': 2,
      'start_reason': 'Starting XI',
      'end_reason': 'Substitution - Off (Tactical)',
      'counterpart_id': 6818,
      'counterpart_name': 'Hayley Emma Raso'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 19416,
    'player_name': 'Laura Coombs',
    'player_nickname': None,
    'birth_date': '1991-01-29',
    'player_gender': 'female',
    'player_height': 162.0,
    'player_weight': None,
    'jersey_number': 7,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 15,
      'position': 'Left Center Midfield',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 25554,
    'player_name': 'Khadija Monifa Shaw',
    'player_nickname': None,
    'birth_date': '1997-01-31',
    'player_gender': 'female',
    'player_height': 182.0,
    'player_weight': None,
    'jersey_number': 21,
    'country': {'id': 113, 'name': 'Jamaica'},
    'positions': [{'position_id': 23,
      'position': 'Center Forward',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 1,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 25632,
    'player_name': 'Yui Hasegawa',
    'player_nickname': None,
    'birth_date': '1997-01-29',
    'player_gender': 'female',
    'player_height': 154.0,
    'player_weight': None,
    'jersey_number': 25,
    'country': {'id': 114, 'name': 'Japan'},
    'positions': [{'position_id': 10,
      'position': 'Center Defensive Midfield',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 32210,
    'player_name': 'Laia Aleixandri LÃƒÂ³pez',
    'player_nickname': 'Laia Aleixandri',
    'birth_date': '2000-08-25',
    'player_gender': 'female',
    'player_height': 170.0,
    'player_weight': 55.0,
    'jersey_number': 4,
    'country': {'id': 214, 'name': 'Spain'},
    'positions': [],
    'stats': []},
   {'player_id': 34360,
    'player_name': 'Alexandra MacIver',
    'player_nickname': None,
    'birth_date': '1998-06-18',
    'player_gender': 'female',
    'player_height': 176.0,
    'player_weight': None,
    'jersey_number': 22,
    'country': {'id': 68, 'name': 'England'},
    'positions': [],
    'stats': []},
   {'player_id': 35693,
    'player_name': 'Mary Boio Fowler',
    'player_nickname': None,
    'birth_date': '2003-02-14',
    'player_gender': 'female',
    'player_height': 171.0,
    'player_weight': 66.0,
    'jersey_number': 8,
    'country': {'id': 14, 'name': 'Australia'},
    'positions': [],
    'stats': []},
   {'player_id': 49938,
    'player_name': 'Deyna Cristina Castellanos Naujenis',
    'player_nickname': None,
    'birth_date': '1999-04-18',
    'player_gender': 'female',
    'player_height': 170.0,
    'player_weight': 58.0,
    'jersey_number': 10,
    'country': {'id': 246, 'name': 'Venezuela (Bolivarian Republic)'},
    'positions': [{'position_id': 13,
      'position': 'Right Center Midfield',
      'from': '00:00:00.000',
      'to': '01:01:20.481',
      'from_period': 1,
      'to_period': 2,
      'start_reason': 'Starting XI',
      'end_reason': 'Substitution - Off (Tactical)',
      'counterpart_id': 62666,
      'counterpart_name': 'Ingrid Filippa Angeldal'}],
    'stats': {'own_goals': 0,
     'goals': 1,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 62666,
    'player_name': 'Ingrid Filippa Angeldal',
    'player_nickname': None,
    'birth_date': '1997-07-14',
    'player_gender': 'female',
    'player_height': 170.0,
    'player_weight': 69.0,
    'jersey_number': 12,
    'country': {'id': 220, 'name': 'Sweden'},
    'positions': [{'position_id': 13,
      'position': 'Right Center Midfield',
      'from': '01:01:20.481',
      'to': None,
      'from_period': 2,
      'to_period': None,
      'start_reason': 'Substitution - On (Tactical)',
      'end_reason': 'Final Whistle',
      'counterpart_id': 49938,
      'counterpart_name': 'Deyna Cristina Castellanos Naujenis'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 191851,
    'player_name': 'Julie Blakstad',
    'player_nickname': None,
    'birth_date': '2001-08-27',
    'player_gender': 'female',
    'player_height': 177.0,
    'player_weight': None,
    'jersey_number': 41,
    'country': {'id': 171, 'name': 'Norway'},
    'positions': [],
    'stats': []},
   {'player_id': 221888,
    'player_name': 'Kerstin Yasmijn Casparij',
    'player_nickname': None,
    'birth_date': '2000-08-19',
    'player_gender': 'female',
    'player_height': None,
    'player_weight': None,
    'jersey_number': 2,
    'country': {'id': 160, 'name': 'Netherlands'},
    'positions': [{'position_id': 2,
      'position': 'Right Back',
      'from': '00:45:00.000',
      'to': None,
      'from_period': 2,
      'to_period': None,
      'start_reason': 'Substitution - On (Tactical)',
      'end_reason': 'Final Whistle',
      'counterpart_id': 4649,
      'counterpart_name': 'Esme Beth Morgan'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}}],
  'formations': [{'period': 1,
    'timestamp': '00:00:00.000',
    'reason': 'Starting XI',
    'formation': 4141}],
  'events': [{'period': 1, 'timestamp': '00:00:00.000', 'type': 'Half Start'},
   {'player_id': 25554,
    'player_name': 'Khadija Monifa Shaw',
    'period': 1,
    'timestamp': '00:27:45.466',
    'type': 'Ground Pass',
    'outcome': 'Assist'},
   {'player_id': 49938,
    'player_name': 'Deyna Cristina Castellanos Naujenis',
    'period': 1,
    'timestamp': '00:27:47.107',
    'type': 'Shot',
    'outcome': 'Goal'},
   {'period': 1, 'timestamp': '00:48:02.013', 'type': 'Half End'},
   {'period': 2, 'timestamp': '00:45:00.000', 'type': 'Half Start'},
   {'period': 2, 'timestamp': '01:33:04.233', 'type': 'Half End'}]},
 {'team_id': 2647,
  'team_name': 'Aston Villa',
  'lineup': [{'player_id': 4984,
    'player_name': 'Rachel Corsie',
    'player_nickname': None,
    'birth_date': '1989-08-17',
    'player_gender': 'female',
    'player_height': 175.0,
    'player_weight': 70.0,
    'jersey_number': 6,
    'country': {'id': 201, 'name': 'Scotland'},
    'positions': [{'position_id': 5,
      'position': 'Left Center Back',
      'from': '00:45:00.000',
      'to': None,
      'from_period': 2,
      'to_period': None,
      'start_reason': 'Substitution - On (Tactical)',
      'end_reason': 'Final Whistle',
      'counterpart_id': 15571,
      'counterpart_name': 'Danielle Turner'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 5058,
    'player_name': 'Rachel Daly',
    'player_nickname': None,
    'birth_date': '1991-12-06',
    'player_gender': 'female',
    'player_height': 173.0,
    'player_weight': 60.0,
    'jersey_number': 8,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 23,
      'position': 'Center Forward',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 10192,
    'player_name': 'Jordan Nobbs',
    'player_nickname': None,
    'birth_date': '1992-12-08',
    'player_gender': 'female',
    'player_height': 159.0,
    'player_weight': 50.0,
    'jersey_number': 88,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 19,
      'position': 'Center Attacking Midfield',
      'from': '00:00:00.000',
      'to': '01:29:03.023',
      'from_period': 1,
      'to_period': 2,
      'start_reason': 'Starting XI',
      'end_reason': 'Substitution - Off (Tactical)',
      'counterpart_id': 35406,
      'counterpart_name': 'Ruesha Littlejohn'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 15421,
    'player_name': 'Kenza Dali',
    'player_nickname': None,
    'birth_date': '1991-07-31',
    'player_gender': 'female',
    'player_height': 165.0,
    'player_weight': 61.0,
    'jersey_number': 10,
    'country': {'id': 78, 'name': 'France'},
    'positions': [{'position_id': 11,
      'position': 'Left Defensive Midfield',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 15562,
    'player_name': 'Lucy Staniforth',
    'player_nickname': None,
    'birth_date': '1992-10-02',
    'player_gender': 'female',
    'player_height': 157.0,
    'player_weight': 54.0,
    'jersey_number': 12,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 9,
      'position': 'Right Defensive Midfield',
      'from': '00:00:00.000',
      'to': None,
      'from_period': 1,
      'to_period': None,
      'start_reason': 'Starting XI',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 15571,
    'player_name': 'Danielle Turner',
    'player_nickname': None,
    'birth_date': '1991-09-10',
    'player_gender': 'female',
    'player_height': None,
    'player_weight': None,
    'jersey_number': 14,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 5,
      'position': 'Left Center Back',
      'from': '00:00:00.000',
      'to': '00:34:51.618',
      'from_period': 1,
      'to_period': 1,
      'start_reason': 'Starting XI',
      'end_reason': 'Player Off'},
     {'position_id': 5,
      'position': 'Left Center Back',
      'from': '00:35:14.701',
      'to': '00:45:00.000',
      'from_period': 1,
      'to_period': 2,
      'start_reason': 'Player On',
      'end_reason': 'Substitution - Off (Tactical)',
      'counterpart_id': 4984,
      'counterpart_name': 'Rachel Corsie'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 15724,
    'player_name': 'Mayumi Pacheco',
    'player_nickname': None,
    'birth_date': '1998-08-25',
    'player_gender': 'female',
    'player_height': 164.0,
    'player_weight': None,
    'jersey_number': 33,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 6,
      'position': 'Left Back',
      'from': '00:00:00.000',
      'to': '00:45:26.112',
      'from_period': 1,
      'to_period': 2,
      'start_reason': 'Starting XI',
      'end_reason': 'Player Off'},
     {'position_id': 6,
      'position': 'Left Back',
      'from': '00:46:42.189',
      'to': None,
      'from_period': 2,
      'to_period': None,
      'start_reason': 'Player On',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 18153,
    'player_name': 'Alisha Lehmann',
    'player_nickname': None,
    'birth_date': '1999-01-21',
    'player_gender': 'female',
    'player_height': 166.0,
    'player_weight': 60.0,
    'jersey_number': 7,
    'country': {'id': 221, 'name': 'Switzerland'},
    'positions': [{'position_id': 17,
      'position': 'Right Wing',
      'from': '00:45:00.000',
      'to': '01:05:07.594',
      'from_period': 2,
      'to_period': 2,
      'start_reason': 'Substitution - On (Tactical)',
      'end_reason': 'Tactical Shift',
      'counterpart_id': 33675,
      'counterpart_name': 'Laura Madison Blindkilde Brown'},
     {'position_id': 21,
      'position': 'Left Wing',
      'from': '01:05:07.594',
      'to': None,
      'from_period': 2,
      'to_period': None,
      'start_reason': 'Tactical Shift',
      'end_reason': 'Final Whistle'}],
    'stats': {'own_goals': 0,
     'goals': 0,
     'assists': 0,
     'penalties_scored': 0,
     'penalties_missed': 0,
     'penalties_saved': 0}},
   {'player_id': 19500,
    'player_name': 'Sarah Emma Mayling',
    'player_nickname': 'Sarah Mayling',
    'birth_date': '1997-03-20',
    'player_gender': 'female',
    'player_height': None,
    'player_weight': None,
    'jersey_number': 2,
    'country': {'id': 68, 'name': 'England'},
    'positions': [{'position_id': 2,
      'position': 'Right Back',
      'from': '00:00:00.000',
      'to': None,

In [120]:
lineups = [ pd.json_normalize(team, 'lineup') for team in data]
len(lineups)

2

In [112]:
data_directory = '..\data\lineups'
file = 'ManCity_AstonVilla_lineups_2.json'
events_path = os.path.join(data_directory, file)
f = open(events_path)
data = json.load(f)

lineup = pd.json_normalize(data, "lineup")
lineup

,player_id,player_name,player_nickname,birth_date,player_gender,player_height,player_weight,jersey_number,positions,country.id,country.name,stats.own_goals,stats.goals,stats.assists,stats.penalties_scored,stats.penalties_missed,stats.penalties_saved,stats
0,4637,Ellie Roebuck,None,1999-09-23,female,174.0,58.0,1,"[{'position_id': 1, 'position': 'Goalkeeper', ...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,4649,Esme Beth Morgan,Esme Morgan,2000-10-18,female,177.0,60.0,14,"[{'position_id': 2, 'position': 'Right Back', ...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,5078,Alanna Stephanie Kennedy,None,1995-01-21,female,176.0,63.0,33,"[{'position_id': 3, 'position': 'Right Center ...",14,Australia,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,6818,Hayley Emma Raso,None,1994-09-05,female,161.0,60.0,13,"[{'position_id': 12, 'position': 'Right Midfie...",14,Australia,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,10158,MarÃƒÂ­a Victoria Losada GÃƒÂ³mez,Vicky Losada,1991-03-05,female,168.0,61.0,17,[],214,Spain,NaN,NaN,NaN,NaN,NaN,NaN,[]
5,10163,Leila Ouahabi El Ouahabi,Leila Ouahabi,1993-03-22,female,171.0,58.0,15,"[{'position_id': 6, 'position': 'Left Back', '...",214,Spain,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6,10185,Stephanie Houghton,None,1988-04-23,female,174.0,60.0,6,[],68,England,NaN,NaN,NaN,NaN,NaN,NaN,[]
7,10252,Alex Greenwood,None,1993-09-07,female,168.0,62.0,5,"[{'position_id': 5, 'position': 'Left Center B...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
8,15555,Lauren Hemp,None,2000-08-07,female,163.0,50.0,11,"[{'position_id': 16, 'position': 'Left Midfiel...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
9,15570,Chloe Kelly,None,1998-01-15,female,168.0,59.0,9,"[{'position_id': 12, 'position': 'Right Midfie...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
10,19416,Laura Coombs,None,1991-01-29,female,162.0,NaN,7,"[{'position_id': 15, 'position': 'Left Center ...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
11,25554,Khadija Monifa Shaw,None,1997-01-31,female,182.0,NaN,21,"[{'position_id': 23, 'position': 'Center Forwa...",113,Jamaica,0.0,0.0,1.0,0.0,0.0,0.0,NaN
12,25632,Yui Hasegawa,None,1997-01-29,female,154.0,NaN,25,"[{'position_id': 10, 'position': 'Center Defen...",114,Japan,0.0,0.0,0.0,0.0,0.0,0.0,NaN
13,32210,Laia Aleixandri LÃƒÂ³pez,Laia Aleixandri,2000-08-25,female,170.0,55.0,4,[],214,Spain,NaN,NaN,NaN,NaN,NaN,NaN,[]
14,34360,Alexandra MacIver,None,1998-06-18,female,176.0,NaN,22,[],68,England,NaN,NaN,NaN,NaN,NaN,NaN,[]
15,35693,Mary Boio Fowler,None,2003-02-14,female,171.0,66.0,8,[],14,Australia,NaN,NaN,NaN,NaN,NaN,NaN,[]
16,49938,Deyna Cristina Castellanos Naujenis,None,1999-04-18,female,170.0,58.0,10,"[{'position_id': 13, 'position': 'Right Center...",246,Venezuela (Bolivarian Republic),0.0,1.0,0.0,0.0,0.0,0.0,NaN
17,62666,Ingrid Filippa Angeldal,None,1997-07-14,female,170.0,69.0,12,"[{'position_id': 13, 'position': 'Right Center...",220,Sweden,0.0,0.0,0.0,0.0,0.0,0.0,NaN
18,191851,Julie Blakstad,None,2001-08-27,female,177.0,NaN,41,[],171,Norway,NaN,NaN,NaN,NaN,NaN,NaN,[]
19,221888,Kerstin Yasmijn Casparij,None,2000-08-19,female,NaN,NaN,2,"[{'position_id': 2, 'position': 'Right Back', ...",160,Netherlands,0.0,0.0,0.0,0.0,0.0,0.0,NaN
20,4984,Rachel Corsie,None,1989-08-17,female,175.0,70.0,6,"[{'position_id': 5, 'position': 'Left Center B...",201,Scotland,0.0,0.0,0.0,0.0,0.0,0.0,NaN
21,5058,Rachel Daly,None,1991-12-06,female,173.0,60.0,8,"[{'position_id': 23, 'position': 'Center Forwa...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
22,10192,Jordan Nobbs,None,1992-12-08,female,159.0,50.0,88,"[{'position_id': 19, 'position': 'Center Attac...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
23,15421,Kenza Dali,None,1991-07-31,female,165.0,61.0,10,"[{'position_id': 11, 'position': 'Left Defensi...",78,France,0.0,0.0,0.0,0.0,0.0,0.0,NaN
24,15562,Lucy Staniforth,None,1992-10-02,female,157.0,54.0,12,"[{'position_id': 9, 'position': 'Right Defensi...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
25,15571,Danielle Turner,None,1991-09-10,female,NaN,NaN,14,"[{'position_id': 5, 'position': 'Left Center B...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
26,15724,Mayumi Pacheco,None,1998-08-25,female,164.0,NaN,33,"[{'position_id': 6, 'position': 'Left Back', '...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
27,18153,Alisha Lehmann,None,1999-01-21,female,166.0,60.0,7,"[{'position_id': 17, 'position': 'Right Wing',...",221,Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,NaN
28,19500,Sarah Emma Mayling,Sarah Mayling,1997-03-20,female,NaN,NaN,2,"[{'position_id': 2, 'position': 'Right Back', ...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
29,22032,Hannah Hampton,None,2000-11-16,female,173.0,NaN,1,[],68,England,NaN,NaN,NaN,NaN,NaN,NaN,[]
30,25744,Emily Gielnik,None,1992-05-13,female,178.0,68.0,9,[],14,Australia,NaN,NaN,NaN,NaN,NaN,NaN,[]
31,31532,Kirsty Hanson,None,1998-04-17,female,163.0,54.0,20,"[{'position_id': 21, 'position': 'Left Wing', ...",201,Scotland,0.0,1.0,0.0,0.0,0.0,0.0,NaN
32,33675,Laura Madison Blindkilde Brown,None,2003-09-09,female,NaN,NaN,19,"[{'position_id': 17, 'position': 'Right Wing',...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
33,35406,Ruesha Littlejohn,None,1990-07-03,female,168.0,NaN,31,"[{'position_id': 19, 'position': 'Center Attac...",109,Ireland,0.0,0.0,0.0,0.0,0.0,0.0,NaN
34,77717,Olivia McLoughlin,None,2004-10-15,female,NaN,NaN,16,[],68,England,NaN,NaN,NaN,NaN,NaN,NaN,[]
35,78072,Anna Patten,None,1999-04-20,female,178.0,NaN,15,"[{'position_id': 3, 'position': 'Right Center ...",68,England,0.0,0.0,0.0,0.0,0.0,0.0,NaN
36,131589,Anna Jessica Leat,None,2001-06-26,female,173.0,NaN,21,"[{'position_id': 1, 'position': 'Goalkeeper', ...",163,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [137]:
test = pass_events.df_pass_home.copy()
test['players'] = [jersey_city] * len(test)

test = test.explode('players')
test['pass.recipient.jersey_nb'] = test['players']
test


#pass_events.add_passer_and_recipient_location(test, match_tracking.HomeTracking.df_tracking)

,period,gameClock,team.name,duration,pass.end_location,pass.outcome.name,x,y,player.id,player.name,pass.recipient.id,pass.recipient.name,player.jersey_nb,pass.recipient.jersey_nb,players
32,1,23.699,Manchester City WFC,1.133547,"[78.9, 78.2]",NaN,12.1,-34.1,49938.0,Deyna Cristina Castellanos Naujenis,15570.0,Chloe Kelly,10,1,1
32,1,23.699,Manchester City WFC,1.133547,"[78.9, 78.2]",NaN,12.1,-34.1,49938.0,Deyna Cristina Castellanos Naujenis,15570.0,Chloe Kelly,10,2,2
32,1,23.699,Manchester City WFC,1.133547,"[78.9, 78.2]",NaN,12.1,-34.1,49938.0,Deyna Cristina Castellanos Naujenis,15570.0,Chloe Kelly,10,6,6
32,1,23.699,Manchester City WFC,1.133547,"[78.9, 78.2]",NaN,12.1,-34.1,49938.0,Deyna Cristina Castellanos Naujenis,15570.0,Chloe Kelly,10,7,7
32,1,23.699,Manchester City WFC,1.133547,"[78.9, 78.2]",NaN,12.1,-34.1,49938.0,Deyna Cristina Castellanos Naujenis,15570.0,Chloe Kelly,10,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3386,2,2827.305,Manchester City WFC,3.864670,"[116.4, 35.1]",Incomplete,60.0,39.9,10252.0,Alex Greenwood,NaN,NaN,5,20,20
3386,2,2827.305,Manchester City WFC,3.864670,"[116.4, 35.1]",Incomplete,60.0,39.9,10252.0,Alex Greenwood,NaN,NaN,5,21,21
3386,2,2827.305,Manchester City WFC,3.864670,"[116.4, 35.1]",Incomplete,60.0,39.9,10252.0,Alex Greenwood,NaN,NaN,5,31,31
3386,2,2827.305,Manchester City WFC,3.864670,"[116.4, 35.1]",Incomplete,60.0,39.9,10252.0,Alex Greenwood,NaN,NaN,5,33,33
3386,2,2827.305,Manchester City WFC,3.864670,"[116.4, 35.1]",Incomplete,60.0,39.9,10252.0,Alex Greenwood,NaN,NaN,5,88,88

In [81]:
match_tracking.HomeTracking.df_tracking

,period,frameIdx,gameClock,wallClock,live,lastTouch,optaId,jersey_number,speed,x,y
0,1,0,0.00,1674387294150,False,home,246319,14,0.00,16.93,16.79
0,1,0,0.00,1674387294150,False,home,192194,25,0.00,13.61,0.11
0,1,0,0.00,1674387294150,False,home,174349,9,0.00,3.04,17.82
0,1,0,0.00,1674387294150,False,home,96385,7,0.00,6.94,-8.83
0,1,0,0.00,1674387294150,False,home,459038,10,0.00,5.21,9.58
...,...,...,...,...,...,...,...,...,...,...,...
144074,2,144074,2882.04,1674394107470,False,away,165677,33,0.77,-9.20,14.65
144074,2,144074,2882.04,1674394107470,False,away,175128,13,0.18,2.95,2.06
144074,2,144074,2882.04,1674394107470,False,away,447080,2,1.08,-11.49,7.74
144074,2,144074,2882.04,1674394107470,False,away,96535,5,2.00,-8.57,21.25
144074,2,144074,2882.04,1674394107470,False,away,186043,11,5.21,5.37,28.37

In [57]:
df_pass = pass_events.df_pass.copy()

df_pass

,timestamp,team.name,period,possession_team.id,possession_team.name,player.id,player.name,pass.recipient.id,pass.recipient.name,pass.height.name,...,high_pass,low_pass,drop_kick,head,keeper_arm,left_foot,no_touch,other,right_foot,completed
4,00:00:00.250,Aston Villa,1,2647,Aston Villa,5058.0,Rachel Daly,15562.0,Lucy Staniforth,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
7,00:00:02.056,Aston Villa,1,2647,Aston Villa,15562.0,Lucy Staniforth,15724.0,Mayumi Pacheco,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
10,00:00:04.507,Aston Villa,1,2647,Aston Villa,15724.0,Mayumi Pacheco,15571.0,Danielle Turner,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
13,00:00:07.681,Aston Villa,1,2647,Aston Villa,15571.0,Danielle Turner,78072.0,Anna Patten,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
16,00:00:11.728,Aston Villa,1,2647,Aston Villa,78072.0,Anna Patten,15571.0,Danielle Turner,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3368,00:45:36.113,Manchester City WFC,2,746,Manchester City WFC,4637.0,Ellie Roebuck,5078.0,Alanna Stephanie Kennedy,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
3371,00:45:45.154,Manchester City WFC,2,746,Manchester City WFC,5078.0,Alanna Stephanie Kennedy,221888.0,Kerstin Yasmijn Casparij,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
3377,00:46:41.877,Manchester City WFC,2,746,Manchester City WFC,10252.0,Alex Greenwood,5078.0,Alanna Stephanie Kennedy,High Pass,...,1,0,0,0,0,1,0,0,0,0
3386,00:47:07.305,Manchester City WFC,2,746,Manchester City WFC,10252.0,Alex Greenwood,NaN,NaN,High Pass,...,1,0,0,0,0,1,0,0,0,0
3388,00:47:58.145,Aston Villa,2,2647,Aston Villa,131589.0,Anna Jessica Leat,NaN,NaN,High Pass,...,1,0,0,0,0,0,0,0,1,0

In [35]:
events_path
f = open(events_path)
data = json.load(f)
df_pass = pd.json_normalize(data)
list(df_pass.columns)

['id',
 'index',
 'period',
 'timestamp',
 'minute',
 'second',
 'possession',
 'obv_for_after',
 'obv_for_before',
 'obv_for_net',
 'obv_against_after',
 'obv_against_before',
 'obv_against_net',
 'obv_total_net',
 'duration',
 'type.id',
 'type.name',
 'possession_team.id',
 'possession_team.name',
 'play_pattern.id',
 'play_pattern.name',
 'team.id',
 'team.name',
 'tactics.formation',
 'tactics.lineup',
 'related_events',
 'location',
 'player.id',
 'player.name',
 'position.id',
 'position.name',
 'pass.recipient.id',
 'pass.recipient.name',
 'pass.length',
 'pass.angle',
 'pass.height.id',
 'pass.height.name',
 'pass.end_location',
 'pass.body_part.id',
 'pass.body_part.name',
 'pass.type.id',
 'pass.type.name',
 'carry.end_location',
 'under_pressure',
 'pass.outcome.id',
 'pass.outcome.name',
 'ball_receipt.outcome.id',
 'ball_receipt.outcome.name',
 'interception.outcome.id',
 'interception.outcome.name',
 'counterpress',
 'pass.cross',
 'pass.xclaim',
 'clearance.right_foot',
 'clearance.body_part.id',
 'clearance.body_part.name',
 'clearance.head',
 'pass.assisted_shot_id',
 'pass.shot_assist',
 'shot.statsbomb_xg',
 'shot.end_location',
 'shot.key_pass_id',
 'shot.technique.id',
 'shot.technique.name',
 'shot.body_part.id',
 'shot.body_part.name',
 'shot.type.id',
 'shot.type.name',
 'shot.outcome.id',
 'shot.outcome.name',
 'shot.freeze_frame',
 'out',
 'goalkeeper.end_location',
 'goalkeeper.type.id',
 'goalkeeper.type.name',
 'goalkeeper.position.id',
 'goalkeeper.position.name',
 'pass.inswinging',
 'pass.technique.id',
 'pass.technique.name',
 'goalkeeper.outcome.id',
 'goalkeeper.outcome.name',
 'duel.type.id',
 'duel.type.name',
 'duel.outcome.id',
 'duel.outcome.name',
 '50_50.outcome.id',
 '50_50.outcome.name',
 'off_camera',
 'pass.cut_back',
 'shot.first_time',
 'pass.switch',
 'dribble.nutmeg',
 'dribble.outcome.id',
 'dribble.outcome.name',
 'block.offensive',
 'pass.through_ball',
 'ball_recovery.recovery_failure',
 'foul_won.defensive',
 'pass.straight',
 'pass.aerial_won',
 'dribble.overrun',
 'pass.deflected',
 'block.deflection',
 'clearance.left_foot',
 'clearance.aerial_won',
 'pass.goal_assist',
 'shot.statsbomb_xg2',
 'goalkeeper.technique.id',
 'goalkeeper.technique.name',
 'goalkeeper.body_part.id',
 'goalkeeper.body_part.name',
 'injury_stoppage.in_chain',
 'pass.no_touch',
 'substitution.outcome.id',
 'substitution.outcome.name',
 'substitution.replacement.id',
 'substitution.replacement.name',
 'shot.aerial_won',
 'dribble.no_touch',
 'foul_committed.advantage',
 'foul_won.advantage',
 'shot.one_on_one',
 'pass.outswinging']

In [30]:
df_tracking_team = match_tracking.HomeTracking.df_tracking.copy()

df_tracking_team

,period,frameIdx,gameClock,wallClock,live,lastTouch,optaId,speed,x,y
0,1,0,0.00,1674387294150,False,home,246319,0.00,16.93,16.79
0,1,0,0.00,1674387294150,False,home,192194,0.00,13.61,0.11
0,1,0,0.00,1674387294150,False,home,174349,0.00,3.04,17.82
0,1,0,0.00,1674387294150,False,home,96385,0.00,6.94,-8.83
0,1,0,0.00,1674387294150,False,home,459038,0.00,5.21,9.58
...,...,...,...,...,...,...,...,...,...,...
144074,2,144074,2882.04,1674394107470,False,away,165677,0.77,-9.20,14.65
144074,2,144074,2882.04,1674394107470,False,away,175128,0.18,2.95,2.06
144074,2,144074,2882.04,1674394107470,False,away,447080,1.08,-11.49,7.74
144074,2,144074,2882.04,1674394107470,False,away,96535,2.00,-8.57,21.25
144074,2,144074,2882.04,1674394107470,False,away,186043,5.21,5.37,28.37

In [31]:
df_tracking = match_tracking.BallTracking.df_tracking.copy()
df_tracking

,period,gameClock,xyz,speed,x,y,z
0,1.0,0.00,"[-0.58, 0.08, 0.34]",8.97,-0.58,0.08,0.34
1,1.0,0.04,"[-0.89, 0.09, 0.35000000000000003]",9.06,-0.89,0.09,0.35
2,1.0,0.08,"[-1.2, 0.09, 0.36]",9.11,-1.20,0.09,0.36
3,1.0,0.12,"[-1.52, 0.1, 0.37]",9.15,-1.52,0.10,0.37
4,1.0,0.16,"[-1.85, 0.11, 0.37]",9.15,-1.85,0.11,0.37
...,...,...,...,...,...,...,...
144070,2.0,2881.88,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144071,2.0,2881.92,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144072,2.0,2881.96,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144073,2.0,2882.00,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144074,2.0,2882.04,"[0, 0, -10]",0.00,0.00,0.00,-10.00

In [32]:
df_pass = df_pass[df_pass.period == 1]
df_tracking = df_tracking[df_tracking.period == 1]

df_pass['x'] = df_pass['x'].apply(x_stats_to_track, pitchLength = match_tracking.pitchLength)
df_pass['y'] = df_pass['y'].apply(y_stats_to_track, pitchWidth = match_tracking.pitchWidth)

df_pass['type'] = 'pass'
df_tracking['type'] = 'ball'
df_pass = df_pass[['gameClock','x','y','type']]
df_tracking = df_tracking[['gameClock','x','y','type']]
df_viz = pd.concat([df_pass,df_tracking])
df_viz = df_viz.sort_values('gameClock')

C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pass['x'] = df_pass['x'].apply(x_stats_to_track, pitchLength = match_tracking.pitchLength)
C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pass['y'] = df_pass['y'].apply(y_stats_to_track, pitchWidth = match_tracking.pitchWidth)
C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pass['type'] = 'pass'
C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tracking['type'] = 'ball'

In [33]:
df_pass.rename(columns = {"x" : "x_pass", 'y': "y_pass", "type" : "type_pass"}, inplace = True)
#df_pass['gclck'] = df_pass['gameClock']

df_pass

      gameClock     x_pass     y_pass type_pass
4         0.250   0.000000   0.000000      pass
7         2.056   9.997864  -3.755227      pass
10        4.507  17.496261 -19.508864      pass
13        7.681  27.580314 -13.280682      pass
16       11.728  26.976994  16.303182      pass
...         ...        ...        ...       ...
1684   2842.942 -38.949162   8.243182      pass
1688   2850.187  -6.895078  30.302357      pass
1692   2852.131  -2.930408  27.512397      pass
1695   2854.429 -12.669707  23.017460      pass
1698   2859.426  -8.877413  29.372370      pass

[481 rows x 4 columns]

In [35]:
df_tracking["gclck"] = df_tracking['gameClock']
df_tracking

       gameClock     x     y  type    gclck
0           0.00 -0.58  0.08  ball     0.00
1           0.04 -0.89  0.09  ball     0.04
2           0.08 -1.20  0.09  ball     0.08
3           0.12 -1.52  0.10  ball     0.12
4           0.16 -1.85  0.11  ball     0.16
...          ...   ...   ...   ...      ...
72018    2880.72  0.00  0.00  ball  2880.72
72019    2880.76  0.00  0.00  ball  2880.76
72020    2880.80  0.00  0.00  ball  2880.80
72021    2880.84  0.00  0.00  ball  2880.84
72022    2880.88  0.00  0.00  ball  2880.88

[72023 rows x 5 columns]

In [21]:
df_viz

       gameClock     x     y  type
0           0.00 -0.58  0.08  ball
1           0.04 -0.89  0.09  ball
2           0.08 -1.20  0.09  ball
3           0.12 -1.52  0.10  ball
4           0.16 -1.85  0.11  ball
...          ...   ...   ...   ...
72018    2880.72  0.00  0.00  ball
72019    2880.76  0.00  0.00  ball
72020    2880.80  0.00  0.00  ball
72021    2880.84  0.00  0.00  ball
72022    2880.88  0.00  0.00  ball

[72504 rows x 4 columns]

In [ ]:
df_pass["gameClock"].apply(lambda x: x - df_tracking['gameClock'])

In [36]:
test = pd.merge_asof(df_pass, df_tracking, on = "gameClock", direction = "nearest")

test

     gameClock     x_pass     y_pass type_pass      x      y  type    gclck
0        0.250   0.000000   0.000000      pass  -2.59   0.11  ball     0.24
1        2.056   9.997864  -3.755227      pass -10.52   4.47  ball     2.04
2        4.507  17.496261 -19.508864      pass -19.99  18.26  ball     4.52
3        7.681  27.580314 -13.280682      pass -27.78   6.55  ball     7.68
4       11.728  26.976994  16.303182      pass -27.54 -11.67  ball    11.72
..         ...        ...        ...       ...    ...    ...   ...      ...
476   2842.942 -38.949162   8.243182      pass  36.32 -12.69  ball  2842.96
477   2850.187  -6.895078  30.302357      pass   5.09 -28.73  ball  2850.20
478   2852.131  -2.930408  27.512397      pass   5.47 -26.77  ball  2852.12
479   2854.429 -12.669707  23.017460      pass  10.70 -23.28  ball  2854.44
480   2859.426  -8.877413  29.372370      pass  11.68 -29.36  ball  2859.44

[481 rows x 8 columns]

In [43]:
event_data_dir = '../data/events'
pass_data = []

# iterate through each file in the events data directory and pull each event if it is a passing event
for filename in tqdm(os.listdir(event_data_dir)):
    if filename.endswith(".json"): 
        with open(os.path.join(event_data_dir, filename)) as json_file:
            match_id = int(filename[-6])
            data = json.load(json_file)
            for event in data:
                if event.get('type', {}).get('name', None) == 'Pass':
                    pass_data.append(
                        {
                            'match_id': match_id,
                            'event_id': event['id'],
                            'timestamp': event['timestamp'],
                            'period' : event['period'],
                            'passing_team': event.get('possession_team', {}).get('name', None),
                            'recipient_name': event.get('pass', {}).get('recipient', {}).get('name', None),
                            'passing_player': event.get('player', {}).get('name', None),
                            'passing_player_x_location': event['location'][0],
                            'passing_player_y_location': event['location'][1],
                            'pass_end_location_x': event.get('pass', {})['end_location'][0],
                            'pass_end_location_y': event.get('pass', {})['end_location'][1],
                            'pass_height_category': event.get('pass', {}).get('height', {}).get('name', None),
                            'body_part': event.get('pass', {}).get('body_part', {}).get('name', None),
                            'outcome': event.get('pass', {}).get('outcome', {}).get('name', None)
                        }
                    )
# Note that "None" outcome means complete
pass_df = pd.DataFrame(pass_data)
pass_df.head()

  0%|          | 0/4 [00:00<?, ?it/s]

,match_id,event_id,timestamp,period,passing_team,recipient_name,passing_player,passing_player_x_location,passing_player_y_location,pass_end_location_x,pass_end_location_y,pass_height_category,body_part,outcome
0,2,bc23853b-0aa8-42ac-9daa-deefa00d9de2,00:00:00.250,1,Aston Villa,Lucy Staniforth,Rachel Daly,60.0,40.0,49.8,38.5,Ground Pass,Right Foot,None
1,2,1fe69497-98e8-4d4f-84c2-4ec034eb97ec,00:00:02.056,1,Aston Villa,Mayumi Pacheco,Lucy Staniforth,48.4,35.9,40.3,19.0,Ground Pass,Right Foot,None
2,2,13549a51-9ecd-4bdb-94fd-c4982c1fded6,00:00:04.507,1,Aston Villa,Danielle Turner,Mayumi Pacheco,39.7,18.7,30.2,22.1,Ground Pass,Left Foot,None
3,2,711c01d2-7bdb-4a2f-bf3c-a5a0baa809d5,00:00:07.681,1,Aston Villa,Anna Patten,Danielle Turner,28.0,25.5,23.5,53.6,Ground Pass,Left Foot,None
4,2,32629e9e-92ae-4184-abec-bbc050519402,00:00:11.728,1,Aston Villa,Danielle Turner,Anna Patten,28.7,57.8,26.6,30.5,Ground Pass,Right Foot,None

In [46]:
# Step 1: remove pass events we don't want
modelling_df = pass_df.loc[
    ~pass_df['outcome'].isin(['Injury Clearance', 'Pass Offside', 'Unknown'])
]

# Step 2: create one hot variables
# pass height and body part
one_hot_pass_height_variables = pd.get_dummies(modelling_df['pass_height_category'])
one_hot_body_part_variables = pd.get_dummies(modelling_df['body_part'])

# tidies up naming before appending row wise
one_hot_pass_height_variables.columns = [
    col.lower().replace(' ', '_') for col in one_hot_pass_height_variables.columns
]
one_hot_body_part_variables.columns = [
    col.lower().replace(' ', '_') for col in one_hot_body_part_variables.columns
]

modelling_df = pd.concat([modelling_df, one_hot_pass_height_variables], axis=1)
modelling_df = pd.concat([modelling_df, one_hot_body_part_variables], axis=1)

# Step 3: create binary pass complete column
modelling_df['completed'] = 0
modelling_df.loc[modelling_df['outcome'].isna(), 'completed'] = 1

# Step 4: finally filter down to the columns we want
modelling_cols = (
    [
        'event_id',
        'passing_player_x_location', 
        'passing_player_y_location', 
        'pass_end_location_x',
        'pass_end_location_y'
    ] + 
    list(one_hot_pass_height_variables.columns) +
    list(one_hot_body_part_variables.columns) + 
    ['completed']
)

modelling_df = modelling_df[modelling_cols]

modelling_df.columns

Index(['event_id', 'passing_player_x_location', 'passing_player_y_location',
       'pass_end_location_x', 'pass_end_location_y', 'ground_pass',
       'high_pass', 'low_pass', 'drop_kick', 'head', 'keeper_arm', 'left_foot',
       'no_touch', 'other', 'right_foot', 'completed'],
      dtype='object')

In [44]:
events_path
f = open(events_path)
data = json.load(f)
df_pass = pd.json_normalize(data)
list(df_pass.columns)

['id',
 'index',
 'period',
 'timestamp',
 'minute',
 'second',
 'possession',
 'obv_for_after',
 'obv_for_before',
 'obv_for_net',
 'obv_against_after',
 'obv_against_before',
 'obv_against_net',
 'obv_total_net',
 'duration',
 'type.id',
 'type.name',
 'possession_team.id',
 'possession_team.name',
 'play_pattern.id',
 'play_pattern.name',
 'team.id',
 'team.name',
 'tactics.formation',
 'tactics.lineup',
 'related_events',
 'location',
 'player.id',
 'player.name',
 'position.id',
 'position.name',
 'pass.recipient.id',
 'pass.recipient.name',
 'pass.length',
 'pass.angle',
 'pass.height.id',
 'pass.height.name',
 'pass.end_location',
 'pass.body_part.id',
 'pass.body_part.name',
 'pass.type.id',
 'pass.type.name',
 'carry.end_location',
 'under_pressure',
 'pass.outcome.id',
 'pass.outcome.name',
 'ball_receipt.outcome.id',
 'ball_receipt.outcome.name',
 'interception.outcome.id',
 'interception.outcome.name',
 'counterpress',
 'pass.cross',
 'pass.xclaim',
 'clearance.right_foot',
 'clearance.body_part.id',
 'clearance.body_part.name',
 'clearance.head',
 'pass.assisted_shot_id',
 'pass.shot_assist',
 'shot.statsbomb_xg',
 'shot.end_location',
 'shot.key_pass_id',
 'shot.technique.id',
 'shot.technique.name',
 'shot.body_part.id',
 'shot.body_part.name',
 'shot.type.id',
 'shot.type.name',
 'shot.outcome.id',
 'shot.outcome.name',
 'shot.freeze_frame',
 'out',
 'goalkeeper.end_location',
 'goalkeeper.type.id',
 'goalkeeper.type.name',
 'goalkeeper.position.id',
 'goalkeeper.position.name',
 'pass.inswinging',
 'pass.technique.id',
 'pass.technique.name',
 'goalkeeper.outcome.id',
 'goalkeeper.outcome.name',
 'duel.type.id',
 'duel.type.name',
 'duel.outcome.id',
 'duel.outcome.name',
 '50_50.outcome.id',
 '50_50.outcome.name',
 'off_camera',
 'pass.cut_back',
 'shot.first_time',
 'pass.switch',
 'dribble.nutmeg',
 'dribble.outcome.id',
 'dribble.outcome.name',
 'block.offensive',
 'pass.through_ball',
 'ball_recovery.recovery_failure',
 'foul_won.defensive',
 'pass.straight',
 'pass.aerial_won',
 'dribble.overrun',
 'pass.deflected',
 'block.deflection',
 'clearance.left_foot',
 'clearance.aerial_won',
 'pass.goal_assist',
 'shot.statsbomb_xg2',
 'goalkeeper.technique.id',
 'goalkeeper.technique.name',
 'goalkeeper.body_part.id',
 'goalkeeper.body_part.name',
 'injury_stoppage.in_chain',
 'pass.no_touch',
 'substitution.outcome.id',
 'substitution.outcome.name',
 'substitution.replacement.id',
 'substitution.replacement.name',
 'shot.aerial_won',
 'dribble.no_touch',
 'foul_committed.advantage',
 'foul_won.advantage',
 'shot.one_on_one',
 'pass.outswinging']

In [50]:
df_pass['pass.end_location']

0                NaN
1                NaN
2                NaN
3                NaN
4       [49.8, 38.5]
            ...
3387             NaN
3388    [67.0, 70.4]
3389             NaN
3390             NaN
3391             NaN
Name: pass.end_location, Length: 3392, dtype: object

In [40]:
pass_data = [events for events in data if events['type'].get('name', None) == "Pass"]

In [42]:
pass_df = pd.DataFrame(pass_data)
pass_df
np.unique(pass_df.under_pressure)

array([nan, nan, nan, nan, True, nan, True, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, True, nan, True, nan, nan,
       nan, True, nan, True, nan, nan, nan, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, True, nan, True, nan, nan, nan, nan, nan, True,
       nan, nan, nan, nan, nan, nan, True, nan, True, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       True, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, nan, nan, nan, nan, nan, True, nan, nan,
       nan, True, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, True, nan, nan, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, True,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, True, nan, True, nan, nan, True,
       nan, nan, nan, nan, nan, True, nan, nan, True, nan, nan, True, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, nan, nan, True, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, nan, nan, True, nan, nan, True, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, nan, nan, nan, nan, True, nan, nan,
       nan, nan, nan, nan, True, nan, nan, True, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, True, nan, nan,
       nan, True, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, True, nan, nan, True, nan, True, nan, nan,
       nan, nan, True, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       True, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, True, nan, True, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, True, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, True, nan, True, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, True, nan, True, nan, True, nan, nan, nan, True,
       nan, nan, nan, True, nan, nan, True, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, True, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, True,
       nan, nan, True, nan, True, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, True,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, True, nan, nan, True, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, True, nan,
       nan, nan, True, nan, nan, True, nan, nan, True, nan, True, nan,
       nan, nan, nan, True, nan, nan, nan, True, nan, nan, nan, True, nan,
       nan, True, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, True, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, nan, nan, True, nan, True, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, True, nan, True, nan, True, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, True, nan, True, nan, nan, nan, True, nan, True, nan,
       nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, nan, True, nan, nan, nan, True, nan,
       nan, True, nan, nan, nan, nan, nan, nan, nan, True, nan, True, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, True, nan, nan, nan, nan, nan, True,
       nan], dtype=object)

In [20]:
event['type'].get('name', None)

'Half End'