In [51]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.insert(0, '../')
from scripts.tracking import MatchTracking 
from scripts.pass_events import PassEvents
from scripts.ball_visualization import BallVisualization
from scripts.utils import x_stats_to_track, y_stats_to_track
from tqdm.notebook import tqdm

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
data_directory = '..\data'
file = 'g2312201_SecondSpectrum_tracking-produced.jsonl'
match_tracking_path = os.path.join(data_directory, file)
match_tracking = MatchTracking(tracking_file_path=match_tracking_path)

In [53]:
data_directory = '..\data\events'
file = 'ManCity_AstonVilla_events_2.json'
events_path = os.path.join(data_directory, file)
pass_events = PassEvents(tracking_file_path=events_path)

In [4]:
pass_events

In [54]:
df_pass = pass_events.df_pass.copy()

df_pass

,timestamp,team.name,period,possession_team.id,possession_team.name,player.id,player.name,pass.recipient.id,pass.recipient.name,pass.height.name,...,high_pass,low_pass,drop_kick,head,keeper_arm,left_foot,no_touch,other,right_foot,completed
4,00:00:00.250,Aston Villa,1,2647,Aston Villa,5058.0,Rachel Daly,15562.0,Lucy Staniforth,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
7,00:00:02.056,Aston Villa,1,2647,Aston Villa,15562.0,Lucy Staniforth,15724.0,Mayumi Pacheco,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
10,00:00:04.507,Aston Villa,1,2647,Aston Villa,15724.0,Mayumi Pacheco,15571.0,Danielle Turner,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
13,00:00:07.681,Aston Villa,1,2647,Aston Villa,15571.0,Danielle Turner,78072.0,Anna Patten,Ground Pass,...,0,0,0,0,0,1,0,0,0,1
16,00:00:11.728,Aston Villa,1,2647,Aston Villa,78072.0,Anna Patten,15571.0,Danielle Turner,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3368,00:45:36.113,Manchester City WFC,2,746,Manchester City WFC,4637.0,Ellie Roebuck,5078.0,Alanna Stephanie Kennedy,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
3371,00:45:45.154,Manchester City WFC,2,746,Manchester City WFC,5078.0,Alanna Stephanie Kennedy,221888.0,Kerstin Yasmijn Casparij,Ground Pass,...,0,0,0,0,0,0,0,0,1,1
3377,00:46:41.877,Manchester City WFC,2,746,Manchester City WFC,10252.0,Alex Greenwood,5078.0,Alanna Stephanie Kennedy,High Pass,...,1,0,0,0,0,1,0,0,0,0
3386,00:47:07.305,Manchester City WFC,2,746,Manchester City WFC,10252.0,Alex Greenwood,NaN,NaN,High Pass,...,1,0,0,0,0,1,0,0,0,0
3388,00:47:58.145,Aston Villa,2,2647,Aston Villa,131589.0,Anna Jessica Leat,NaN,NaN,High Pass,...,1,0,0,0,0,0,0,0,1,0

In [35]:
events_path
f = open(events_path)
data = json.load(f)
df_pass = pd.json_normalize(data)
list(df_pass.columns)

['id',
 'index',
 'period',
 'timestamp',
 'minute',
 'second',
 'possession',
 'obv_for_after',
 'obv_for_before',
 'obv_for_net',
 'obv_against_after',
 'obv_against_before',
 'obv_against_net',
 'obv_total_net',
 'duration',
 'type.id',
 'type.name',
 'possession_team.id',
 'possession_team.name',
 'play_pattern.id',
 'play_pattern.name',
 'team.id',
 'team.name',
 'tactics.formation',
 'tactics.lineup',
 'related_events',
 'location',
 'player.id',
 'player.name',
 'position.id',
 'position.name',
 'pass.recipient.id',
 'pass.recipient.name',
 'pass.length',
 'pass.angle',
 'pass.height.id',
 'pass.height.name',
 'pass.end_location',
 'pass.body_part.id',
 'pass.body_part.name',
 'pass.type.id',
 'pass.type.name',
 'carry.end_location',
 'under_pressure',
 'pass.outcome.id',
 'pass.outcome.name',
 'ball_receipt.outcome.id',
 'ball_receipt.outcome.name',
 'interception.outcome.id',
 'interception.outcome.name',
 'counterpress',
 'pass.cross',
 'pass.xclaim',
 'clearance.right_foot',
 'clearance.body_part.id',
 'clearance.body_part.name',
 'clearance.head',
 'pass.assisted_shot_id',
 'pass.shot_assist',
 'shot.statsbomb_xg',
 'shot.end_location',
 'shot.key_pass_id',
 'shot.technique.id',
 'shot.technique.name',
 'shot.body_part.id',
 'shot.body_part.name',
 'shot.type.id',
 'shot.type.name',
 'shot.outcome.id',
 'shot.outcome.name',
 'shot.freeze_frame',
 'out',
 'goalkeeper.end_location',
 'goalkeeper.type.id',
 'goalkeeper.type.name',
 'goalkeeper.position.id',
 'goalkeeper.position.name',
 'pass.inswinging',
 'pass.technique.id',
 'pass.technique.name',
 'goalkeeper.outcome.id',
 'goalkeeper.outcome.name',
 'duel.type.id',
 'duel.type.name',
 'duel.outcome.id',
 'duel.outcome.name',
 '50_50.outcome.id',
 '50_50.outcome.name',
 'off_camera',
 'pass.cut_back',
 'shot.first_time',
 'pass.switch',
 'dribble.nutmeg',
 'dribble.outcome.id',
 'dribble.outcome.name',
 'block.offensive',
 'pass.through_ball',
 'ball_recovery.recovery_failure',
 'foul_won.defensive',
 'pass.straight',
 'pass.aerial_won',
 'dribble.overrun',
 'pass.deflected',
 'block.deflection',
 'clearance.left_foot',
 'clearance.aerial_won',
 'pass.goal_assist',
 'shot.statsbomb_xg2',
 'goalkeeper.technique.id',
 'goalkeeper.technique.name',
 'goalkeeper.body_part.id',
 'goalkeeper.body_part.name',
 'injury_stoppage.in_chain',
 'pass.no_touch',
 'substitution.outcome.id',
 'substitution.outcome.name',
 'substitution.replacement.id',
 'substitution.replacement.name',
 'shot.aerial_won',
 'dribble.no_touch',
 'foul_committed.advantage',
 'foul_won.advantage',
 'shot.one_on_one',
 'pass.outswinging']

In [30]:
df_tracking_team = match_tracking.HomeTracking.df_tracking.copy()

df_tracking_team

,period,frameIdx,gameClock,wallClock,live,lastTouch,optaId,speed,x,y
0,1,0,0.00,1674387294150,False,home,246319,0.00,16.93,16.79
0,1,0,0.00,1674387294150,False,home,192194,0.00,13.61,0.11
0,1,0,0.00,1674387294150,False,home,174349,0.00,3.04,17.82
0,1,0,0.00,1674387294150,False,home,96385,0.00,6.94,-8.83
0,1,0,0.00,1674387294150,False,home,459038,0.00,5.21,9.58
...,...,...,...,...,...,...,...,...,...,...
144074,2,144074,2882.04,1674394107470,False,away,165677,0.77,-9.20,14.65
144074,2,144074,2882.04,1674394107470,False,away,175128,0.18,2.95,2.06
144074,2,144074,2882.04,1674394107470,False,away,447080,1.08,-11.49,7.74
144074,2,144074,2882.04,1674394107470,False,away,96535,2.00,-8.57,21.25
144074,2,144074,2882.04,1674394107470,False,away,186043,5.21,5.37,28.37

In [31]:
df_tracking = match_tracking.BallTracking.df_tracking.copy()
df_tracking

,period,gameClock,xyz,speed,x,y,z
0,1.0,0.00,"[-0.58, 0.08, 0.34]",8.97,-0.58,0.08,0.34
1,1.0,0.04,"[-0.89, 0.09, 0.35000000000000003]",9.06,-0.89,0.09,0.35
2,1.0,0.08,"[-1.2, 0.09, 0.36]",9.11,-1.20,0.09,0.36
3,1.0,0.12,"[-1.52, 0.1, 0.37]",9.15,-1.52,0.10,0.37
4,1.0,0.16,"[-1.85, 0.11, 0.37]",9.15,-1.85,0.11,0.37
...,...,...,...,...,...,...,...
144070,2.0,2881.88,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144071,2.0,2881.92,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144072,2.0,2881.96,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144073,2.0,2882.00,"[0, 0, -10]",0.00,0.00,0.00,-10.00
144074,2.0,2882.04,"[0, 0, -10]",0.00,0.00,0.00,-10.00

In [32]:
df_pass = df_pass[df_pass.period == 1]
df_tracking = df_tracking[df_tracking.period == 1]

df_pass['x'] = df_pass['x'].apply(x_stats_to_track, pitchLength = match_tracking.pitchLength)
df_pass['y'] = df_pass['y'].apply(y_stats_to_track, pitchWidth = match_tracking.pitchWidth)

df_pass['type'] = 'pass'
df_tracking['type'] = 'ball'
df_pass = df_pass[['gameClock','x','y','type']]
df_tracking = df_tracking[['gameClock','x','y','type']]
df_viz = pd.concat([df_pass,df_tracking])
df_viz = df_viz.sort_values('gameClock')

C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pass['x'] = df_pass['x'].apply(x_stats_to_track, pitchLength = match_tracking.pitchLength)
C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pass['y'] = df_pass['y'].apply(y_stats_to_track, pitchWidth = match_tracking.pitchWidth)
C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pass['type'] = 'pass'
C:\Users\tchassard\AppData\Local\Temp\ipykernel_4500\3577358933.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tracking['type'] = 'ball'

In [33]:
df_pass.rename(columns = {"x" : "x_pass", 'y': "y_pass", "type" : "type_pass"}, inplace = True)
#df_pass['gclck'] = df_pass['gameClock']

df_pass

      gameClock     x_pass     y_pass type_pass
4         0.250   0.000000   0.000000      pass
7         2.056   9.997864  -3.755227      pass
10        4.507  17.496261 -19.508864      pass
13        7.681  27.580314 -13.280682      pass
16       11.728  26.976994  16.303182      pass
...         ...        ...        ...       ...
1684   2842.942 -38.949162   8.243182      pass
1688   2850.187  -6.895078  30.302357      pass
1692   2852.131  -2.930408  27.512397      pass
1695   2854.429 -12.669707  23.017460      pass
1698   2859.426  -8.877413  29.372370      pass

[481 rows x 4 columns]

In [35]:
df_tracking["gclck"] = df_tracking['gameClock']
df_tracking

       gameClock     x     y  type    gclck
0           0.00 -0.58  0.08  ball     0.00
1           0.04 -0.89  0.09  ball     0.04
2           0.08 -1.20  0.09  ball     0.08
3           0.12 -1.52  0.10  ball     0.12
4           0.16 -1.85  0.11  ball     0.16
...          ...   ...   ...   ...      ...
72018    2880.72  0.00  0.00  ball  2880.72
72019    2880.76  0.00  0.00  ball  2880.76
72020    2880.80  0.00  0.00  ball  2880.80
72021    2880.84  0.00  0.00  ball  2880.84
72022    2880.88  0.00  0.00  ball  2880.88

[72023 rows x 5 columns]

In [21]:
df_viz

       gameClock     x     y  type
0           0.00 -0.58  0.08  ball
1           0.04 -0.89  0.09  ball
2           0.08 -1.20  0.09  ball
3           0.12 -1.52  0.10  ball
4           0.16 -1.85  0.11  ball
...          ...   ...   ...   ...
72018    2880.72  0.00  0.00  ball
72019    2880.76  0.00  0.00  ball
72020    2880.80  0.00  0.00  ball
72021    2880.84  0.00  0.00  ball
72022    2880.88  0.00  0.00  ball

[72504 rows x 4 columns]

In [ ]:
df_pass["gameClock"].apply(lambda x: x - df_tracking['gameClock'])

In [36]:
test = pd.merge_asof(df_pass, df_tracking, on = "gameClock", direction = "nearest")

test

     gameClock     x_pass     y_pass type_pass      x      y  type    gclck
0        0.250   0.000000   0.000000      pass  -2.59   0.11  ball     0.24
1        2.056   9.997864  -3.755227      pass -10.52   4.47  ball     2.04
2        4.507  17.496261 -19.508864      pass -19.99  18.26  ball     4.52
3        7.681  27.580314 -13.280682      pass -27.78   6.55  ball     7.68
4       11.728  26.976994  16.303182      pass -27.54 -11.67  ball    11.72
..         ...        ...        ...       ...    ...    ...   ...      ...
476   2842.942 -38.949162   8.243182      pass  36.32 -12.69  ball  2842.96
477   2850.187  -6.895078  30.302357      pass   5.09 -28.73  ball  2850.20
478   2852.131  -2.930408  27.512397      pass   5.47 -26.77  ball  2852.12
479   2854.429 -12.669707  23.017460      pass  10.70 -23.28  ball  2854.44
480   2859.426  -8.877413  29.372370      pass  11.68 -29.36  ball  2859.44

[481 rows x 8 columns]

In [43]:
event_data_dir = '../data/events'
pass_data = []

# iterate through each file in the events data directory and pull each event if it is a passing event
for filename in tqdm(os.listdir(event_data_dir)):
    if filename.endswith(".json"): 
        with open(os.path.join(event_data_dir, filename)) as json_file:
            match_id = int(filename[-6])
            data = json.load(json_file)
            for event in data:
                if event.get('type', {}).get('name', None) == 'Pass':
                    pass_data.append(
                        {
                            'match_id': match_id,
                            'event_id': event['id'],
                            'timestamp': event['timestamp'],
                            'period' : event['period'],
                            'passing_team': event.get('possession_team', {}).get('name', None),
                            'recipient_name': event.get('pass', {}).get('recipient', {}).get('name', None),
                            'passing_player': event.get('player', {}).get('name', None),
                            'passing_player_x_location': event['location'][0],
                            'passing_player_y_location': event['location'][1],
                            'pass_end_location_x': event.get('pass', {})['end_location'][0],
                            'pass_end_location_y': event.get('pass', {})['end_location'][1],
                            'pass_height_category': event.get('pass', {}).get('height', {}).get('name', None),
                            'body_part': event.get('pass', {}).get('body_part', {}).get('name', None),
                            'outcome': event.get('pass', {}).get('outcome', {}).get('name', None)
                        }
                    )
# Note that "None" outcome means complete
pass_df = pd.DataFrame(pass_data)
pass_df.head()

  0%|          | 0/4 [00:00<?, ?it/s]

,match_id,event_id,timestamp,period,passing_team,recipient_name,passing_player,passing_player_x_location,passing_player_y_location,pass_end_location_x,pass_end_location_y,pass_height_category,body_part,outcome
0,2,bc23853b-0aa8-42ac-9daa-deefa00d9de2,00:00:00.250,1,Aston Villa,Lucy Staniforth,Rachel Daly,60.0,40.0,49.8,38.5,Ground Pass,Right Foot,None
1,2,1fe69497-98e8-4d4f-84c2-4ec034eb97ec,00:00:02.056,1,Aston Villa,Mayumi Pacheco,Lucy Staniforth,48.4,35.9,40.3,19.0,Ground Pass,Right Foot,None
2,2,13549a51-9ecd-4bdb-94fd-c4982c1fded6,00:00:04.507,1,Aston Villa,Danielle Turner,Mayumi Pacheco,39.7,18.7,30.2,22.1,Ground Pass,Left Foot,None
3,2,711c01d2-7bdb-4a2f-bf3c-a5a0baa809d5,00:00:07.681,1,Aston Villa,Anna Patten,Danielle Turner,28.0,25.5,23.5,53.6,Ground Pass,Left Foot,None
4,2,32629e9e-92ae-4184-abec-bbc050519402,00:00:11.728,1,Aston Villa,Danielle Turner,Anna Patten,28.7,57.8,26.6,30.5,Ground Pass,Right Foot,None

In [46]:
# Step 1: remove pass events we don't want
modelling_df = pass_df.loc[
    ~pass_df['outcome'].isin(['Injury Clearance', 'Pass Offside', 'Unknown'])
]

# Step 2: create one hot variables
# pass height and body part
one_hot_pass_height_variables = pd.get_dummies(modelling_df['pass_height_category'])
one_hot_body_part_variables = pd.get_dummies(modelling_df['body_part'])

# tidies up naming before appending row wise
one_hot_pass_height_variables.columns = [
    col.lower().replace(' ', '_') for col in one_hot_pass_height_variables.columns
]
one_hot_body_part_variables.columns = [
    col.lower().replace(' ', '_') for col in one_hot_body_part_variables.columns
]

modelling_df = pd.concat([modelling_df, one_hot_pass_height_variables], axis=1)
modelling_df = pd.concat([modelling_df, one_hot_body_part_variables], axis=1)

# Step 3: create binary pass complete column
modelling_df['completed'] = 0
modelling_df.loc[modelling_df['outcome'].isna(), 'completed'] = 1

# Step 4: finally filter down to the columns we want
modelling_cols = (
    [
        'event_id',
        'passing_player_x_location', 
        'passing_player_y_location', 
        'pass_end_location_x',
        'pass_end_location_y'
    ] + 
    list(one_hot_pass_height_variables.columns) +
    list(one_hot_body_part_variables.columns) + 
    ['completed']
)

modelling_df = modelling_df[modelling_cols]

modelling_df.columns

Index(['event_id', 'passing_player_x_location', 'passing_player_y_location',
       'pass_end_location_x', 'pass_end_location_y', 'ground_pass',
       'high_pass', 'low_pass', 'drop_kick', 'head', 'keeper_arm', 'left_foot',
       'no_touch', 'other', 'right_foot', 'completed'],
      dtype='object')

In [44]:
events_path
f = open(events_path)
data = json.load(f)
df_pass = pd.json_normalize(data)
list(df_pass.columns)

['id',
 'index',
 'period',
 'timestamp',
 'minute',
 'second',
 'possession',
 'obv_for_after',
 'obv_for_before',
 'obv_for_net',
 'obv_against_after',
 'obv_against_before',
 'obv_against_net',
 'obv_total_net',
 'duration',
 'type.id',
 'type.name',
 'possession_team.id',
 'possession_team.name',
 'play_pattern.id',
 'play_pattern.name',
 'team.id',
 'team.name',
 'tactics.formation',
 'tactics.lineup',
 'related_events',
 'location',
 'player.id',
 'player.name',
 'position.id',
 'position.name',
 'pass.recipient.id',
 'pass.recipient.name',
 'pass.length',
 'pass.angle',
 'pass.height.id',
 'pass.height.name',
 'pass.end_location',
 'pass.body_part.id',
 'pass.body_part.name',
 'pass.type.id',
 'pass.type.name',
 'carry.end_location',
 'under_pressure',
 'pass.outcome.id',
 'pass.outcome.name',
 'ball_receipt.outcome.id',
 'ball_receipt.outcome.name',
 'interception.outcome.id',
 'interception.outcome.name',
 'counterpress',
 'pass.cross',
 'pass.xclaim',
 'clearance.right_foot',
 'clearance.body_part.id',
 'clearance.body_part.name',
 'clearance.head',
 'pass.assisted_shot_id',
 'pass.shot_assist',
 'shot.statsbomb_xg',
 'shot.end_location',
 'shot.key_pass_id',
 'shot.technique.id',
 'shot.technique.name',
 'shot.body_part.id',
 'shot.body_part.name',
 'shot.type.id',
 'shot.type.name',
 'shot.outcome.id',
 'shot.outcome.name',
 'shot.freeze_frame',
 'out',
 'goalkeeper.end_location',
 'goalkeeper.type.id',
 'goalkeeper.type.name',
 'goalkeeper.position.id',
 'goalkeeper.position.name',
 'pass.inswinging',
 'pass.technique.id',
 'pass.technique.name',
 'goalkeeper.outcome.id',
 'goalkeeper.outcome.name',
 'duel.type.id',
 'duel.type.name',
 'duel.outcome.id',
 'duel.outcome.name',
 '50_50.outcome.id',
 '50_50.outcome.name',
 'off_camera',
 'pass.cut_back',
 'shot.first_time',
 'pass.switch',
 'dribble.nutmeg',
 'dribble.outcome.id',
 'dribble.outcome.name',
 'block.offensive',
 'pass.through_ball',
 'ball_recovery.recovery_failure',
 'foul_won.defensive',
 'pass.straight',
 'pass.aerial_won',
 'dribble.overrun',
 'pass.deflected',
 'block.deflection',
 'clearance.left_foot',
 'clearance.aerial_won',
 'pass.goal_assist',
 'shot.statsbomb_xg2',
 'goalkeeper.technique.id',
 'goalkeeper.technique.name',
 'goalkeeper.body_part.id',
 'goalkeeper.body_part.name',
 'injury_stoppage.in_chain',
 'pass.no_touch',
 'substitution.outcome.id',
 'substitution.outcome.name',
 'substitution.replacement.id',
 'substitution.replacement.name',
 'shot.aerial_won',
 'dribble.no_touch',
 'foul_committed.advantage',
 'foul_won.advantage',
 'shot.one_on_one',
 'pass.outswinging']

In [50]:
df_pass['pass.end_location']

0                NaN
1                NaN
2                NaN
3                NaN
4       [49.8, 38.5]
            ...
3387             NaN
3388    [67.0, 70.4]
3389             NaN
3390             NaN
3391             NaN
Name: pass.end_location, Length: 3392, dtype: object

In [40]:
pass_data = [events for events in data if events['type'].get('name', None) == "Pass"]

In [42]:
pass_df = pd.DataFrame(pass_data)
pass_df
np.unique(pass_df.under_pressure)

array([nan, nan, nan, nan, True, nan, True, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, True, nan, True, nan, nan,
       nan, True, nan, True, nan, nan, nan, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, True, nan, True, nan, nan, nan, nan, nan, True,
       nan, nan, nan, nan, nan, nan, True, nan, True, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       True, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, nan, nan, nan, nan, nan, True, nan, nan,
       nan, True, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, True, nan, nan, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, True,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, True, nan, True, nan, nan, True,
       nan, nan, nan, nan, nan, True, nan, nan, True, nan, nan, True, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, nan, nan, True, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, nan, nan, True, nan, nan, True, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, nan, nan, nan, nan, True, nan, nan,
       nan, nan, nan, nan, True, nan, nan, True, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, True, nan, nan,
       nan, True, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, True, nan, nan, True, nan, True, nan, nan,
       nan, nan, True, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       True, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, True, nan, True, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, True, nan, nan, True, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, True, nan, True, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, True, nan, True, nan, True, nan, nan, nan, True,
       nan, nan, nan, True, nan, nan, True, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, True, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, True,
       nan, nan, True, nan, True, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, True,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, True, nan, nan, True, nan, nan,
       nan, nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, True, nan,
       nan, nan, True, nan, nan, True, nan, nan, True, nan, True, nan,
       nan, nan, nan, True, nan, nan, nan, True, nan, nan, nan, True, nan,
       nan, True, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan, True, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       True, nan, True, nan, nan, nan, nan, True, nan, True, nan, nan,
       nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, True, nan, True, nan, True, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, True, nan, nan, nan, nan,
       nan, nan, True, nan, True, nan, nan, nan, True, nan, True, nan,
       nan, nan, nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, True, nan, nan, nan, nan, True, nan, nan, nan, True, nan,
       nan, True, nan, nan, nan, nan, nan, nan, nan, True, nan, True, nan,
       nan, nan, True, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, True, nan, True, nan, nan, nan, nan, nan, True,
       nan], dtype=object)

In [20]:
event['type'].get('name', None)

'Half End'